#top{
    text-align: center;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
#prestige{
    display: flex;
}
#centre{
    display: flex;
     justify-content: space-around;
     gap: 20%;
}
#corner{
display: flex;
justify-content: space-evenly;

margin-top: 2%;

}
#middle{
    text-align: center;
}
#mid{
    display: flex;
    justify-content: space-around;
}
#tin{
    text-align: center;
}
#bucket{
    display: flex;
    justify-content: space-around;
}
#word{
    text-align: center;
}
#button{
    background-color: brown;
}
#sitting{
    display: flex;
    gap: 3%;
    justify-content: center;
    
}
#picha{
     margin-right: 10%;
}

#master{
    display: flex;
    gap: 3%;
    justify-content: center;
}
#modern{
    display: flex;
    gap: 3%;
    justify-content: center;
    
}
#dining{
    margin-top: 8%;
    
}
#title{
    text-align: center;
}
#mid{
    display: flex;
    justify-content:space-around;
    gap: 3%;
}
#pic3{
    display: flex;
    gap: 10%;
    
}
#pic2{
    display: flex;
    gap: 10%;
}
#pic1{
    display: flex;
    gap: 10%;
}
#cornerp{
     margin-right: 20%;
     gap: 50%;
}
#section{
    width: 80%;
    height: 300px;
    background-color: lightpink;
}
#footer{
    text-align: center;
}
#bottom{
    display: flex;
    justify-content: space-between;
}
#email{
    display: flex;
    justify-content: center;
    gap: 5%;
    text-align: center;
    
}
#sections1{
    text-align: center;   
    background-image: url(images/living.png);
    background-size: cover;
    width: 50%;
    margin-left: 20%;   
}
#topic{
color: antiquewhite;
}
#select{
    margin-left: 20%;
}
#container{
    background-color: pink;
    height: 300px;
    width: 60%;
    margin-left: 25%;

}
#corp{
    background-color: antiquewhite;
    width: 20%;
    height: 200px;
}
#service{
    background-color: antiquewhite;
    width: 20%;
    height: 200px;
}
#show{
    background-color: antiquewhite;
    width: 20%;
    height: 200px;
}
#mini{
    display: flex;
    justify-content: space-between;
}
#cust{
    text-align: center;
}
#midder{
    display: flex;
    justify-content:center;
    gap: 3%;
}
@media screen and (min-width:360px) and (max-width:740px){
     #container{
        display: grid;
        grid-template-columns: auto;
     }
     #centre{
        grid-template-columns: 1fr 3fr;
     }
}
